{{#each restaurants as |restaurant|}}
  <div class="card" data-id={{id}}>
  <header>
      <h2>{{name}}</h2>
    </header>
    <div class="content">
    <p>Phone: {{phone}}</p>
    <p>Type: {{type}}</p>
    <p>Hours: {{time_open}}:00 AM - {{format_military_time time_closed}}:00 PM</p>
    <p>Address: {{address}}, {{city}} {{state}} {{zip}}</p>
    </div>
    <footer><a href="/restaurant/{{id}}">Make Reservation</a></footer>
    </div>
{{/each}}