<div class="dish-card">
  <div class="dish-card-header">
    {{name}}
    {{phone}}
    {{type}}
    {{time_open}}
    {{time_closed}}
    {{address}}
    {{city}}
    {{state}}
    {{zip}}

  </div>
  <div class="card-body">
  </div>
</div>